@{
    ViewData["Title"] = "Rocket League Coaching";
}

<div class="text-center">
	<div class="specialcontainer">
		<h1 class="display-4">Welcome to Rocket League Coaching!</h1>
		<br/>
		<h3>Your quick-stop-shop for all Rocket League help!<br/><br/>Whether you're stuck at your current rank or just looking to find some people to party up with... <br/><br/> This site is for you!</h3>
		<br/>
		<h3>
			<a href="https://store.epicgames.com/en-US/p/rocket-league">Get Rocket League</a>
		</h3>
	</div>
	<br/><br/>
	<p>If you want to be the best, play like the best! (Not Me)</p>
	<div class="specialrow">
		<div class="specialcolumn">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/M-zfR1e867E?si=HwTvMxdbpxCB0eJU&amp;start=15" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
		<div class="specialcolumn">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/XL7pimMeQR0?si=jhXu1LAZ6Kw0rR0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
	<div>
		<p>
			<br/>
			<h3>My Beginnings of this Hobby</h3>
			In 2015, Rocket League was released on Steam and even though the price of 20 dollars at the time was too expensive for a 15-year-old. I had to somehow buy it.
			My best friend, Matt, and I would play for hours and hours every single day for the first year of its release. We learned how to do aerials, pre-jumps, kickoffs,
			diving saves, and even early stages of air dribbling. When the first RLCS was released, we entered the tournament, and we placed in the semi-finals of our group. Even though
			we lost, we really enjoyed the competition of playing in a tournament.
			<br/><br/>
		</p>
		<p>
			<h3>Quitting for Years</h3>
			Unfortunately, the game started to feel repetitive and I quit in 2018, and did not pick it back up consistently until 2023. During that five year break a lot happened 
			in my life and re-stumbling upon Rocket League was amazing! My cousin and I have played nearly every day and have improved so much. Some of my skills were rusty, but like 
			riding a bike, they came back in a flash.
			<br/><br/>
		</p>
		<p>
			<h3>Why Rocket League?</h3>
			If you only have five minutes per day to have fun, Rocket League will do that. With 5-minute games, you can fly into full competition and adrenaline, without feeling 
			exhausted for playing a game. It challenges you in new ways and has an amazing multiplayer connection. About 95% of the time, your decisions and choices affect what 
			will happen in the game. Finally, a competitive sports game that leaves nearly the entire outcome up to you and your skill. Whether it be 1v1, 2v2, 3v3, or one of the 
			arcade game modes, you will have blast of fun competition. Plus, since EpicGames acquiring the game's creator, Psyonix, the game is free to everyone on the EpicGames Store. 
			Why not try it now!
			<br/><br/>
			<h3 class="specialcontainer" style="max-width: 300px">
				<a href="https://store.epicgames.com/en-US/p/rocket-league">Get Rocket League</a>
			</h3>
			<br/>
		</p>
	</div>
</div>
