html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.specialcontainer {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.center {
	margin: auto;
	text-align: center;
	padding: 10px;
}

.specialrow {
	display: flex;
}

.specialcolumn {
	flex: 50%;
	padding: 5px;
}

.blur_image {
	position: relative;
	background-image: url('../img/rl_background.jpg'); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	filter: blur(5px);
	width: 100%;
}

.blur_image_2 {
	position: relative;
	background-image: url('../img/rocket-league-wallpaper_2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	filter: blur(5px);
	width: 100%;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

	.button:hover {
		background-color: #0056b3;
	}

	.button:active {
		background-color: #004080;
	}